[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
spacy = "*"
pyap = "*"
google-cloud-language = "*"

[dev-packages]

[requires]
python_version = "*"
